@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
  padding: 15px 20px;
  font-size: 25px;
  height: 55px;
}

#addPopUp {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#addPopUp > div {
  background-color: white;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  color: #6cbbff;
  
}

#addPopUpMarket {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#addPopUpMarket > div {
  background-color: white;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  color: #6cbbff;
  
}

#product, #market, #favProduct{
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #6cbbff;
  width: 100%;
  font-size: 18px;
  outline: none;
}

#product::placeholder {
  color: #d0d0d0;
}

#button-add-text {
  color: #6cbbff;
  font-weight: 500;
  cursor: pointer;
}

#add {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;  
  border: none;
  z-index: 2;
  color: black;
  margin-top: -9px;
  padding: 5px 15px;
 }

.buttons-add {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 15px;
}

.buttons-add button {
  font-size: 18px;
  background-color: transparent;
  border: none;
}

.list-products {
  margin: 20px 15px;
  font-size: 20px;
  height: 75vh;   
  overflow: scroll;
  
}

.fa-star{
  color: black;
}

.star{
  color: #f0ca0a;
}

.list-products ul li {
  list-style: none;
  width: 100%;
  background-color: antiquewhite;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
}

.icon-delete {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon-delete button {
  color: black;
  cursor: pointer;
}

.icon-star {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-plus{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}

.listOptions{
  position: relative;
}

.divOptions{  
  display: flex;
  flex-direction: column;  
  background-color: pink;
  position: absolute;
  z-index: 15;
  right: 20px;
}

.divOptions button{
  border: none;
  background-color: transparent;
  padding: 5px 10px;

}


.icon-delete button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

#menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100%;
  transition: all ease 0.25s;
  z-index: 25;
  top: 55px;
}


#menu > div {
  width: 100%;
  height: 20%;
  background-color: white;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

#menu li{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    list-style-type: none; 
    padding-top: 30px;
    font-size: 20px;
    
}
#menu li a{
   text-decoration: none;
   color: black;     
}

.fa-chevron-down{
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.1s;  
}

.fa-pen-to-square{
  margin-right: 10px;
}

footer{
  width: 100%;
  height: 50px;
  z-index: 5;
  display: flex;
  justify-content: center;
 
}

.more-info{
  background-color: white;
}