@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root{
  --main-color: #023047;
  --button-color: #ffb703;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 15px 20px;
  font-size: 25px;
  height: 55px;
  color: white;
}

/*Estilos para el boton añadir producto*/
#add {
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  z-index: 2;
  color: black; 
  padding: 15px 15px;
  border-radius: 60px;
  width: 80%;
  gap: 10px;  
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
 
 }


#addPopUp {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#addPopUp > div {
  background-color: white;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  color: #6cbbff;
  
}

#addPopUpMarket {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#addPopUpMarket > div {
  background-color: white;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  color: #6cbbff;
  
}

#product, #market, #favProduct{
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #6cbbff;
  width: 100%;
  font-size: 18px;
  outline: none;
}

#product::placeholder {
  color: #d0d0d0;
}

#button-add-text {
  color: #6cbbff;
  font-weight: 500;
  cursor: pointer;
}


.buttons-add {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 15px;
}

.buttons-add button {
  font-size: 18px;
  background-color: transparent;
  border: none;
}

.list-products {
  margin: 20px 15px;
  font-size: 20px;
  height: 75vh;   
  overflow: scroll;
  
}

.fa-star{
  color: black;
}

.star{
  color: #f0ca0a !important;
}


.list-products > ul  > li {
  list-style: none;
  width: 100%;
  background-color: antiquewhite;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;

}

.priceMarket li{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.editMarket{
  display: flex;
}

.editMarket input{
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: solid 1px black;
  font-size: 20px;
  width: 65%;
}

.listOptions input{
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: solid 1px black;
  font-size: 20px;
  width: 65%;
}


#change{ 
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: cadetblue;
  border-radius: 5px;
}

#alertEmptyMarket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 70vh;
 }

#alertEmptyMarket i{
 font-size: 140px;
 color: white;
 text-shadow: 0.1em 0.07em 0em #858585;
 margin-bottom: 20px;
}


.icon-delete {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon-delete button {
  color: black;
  cursor: pointer;
}

.icon-star {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-plus{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}

.listOptions{
  position: relative;
}

.divOptions{  
  display: none;
  flex-direction: column;  
  background-color: pink;
  position: absolute;
  z-index: 15;
  right: 20px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.divOptions button{
  border: none;
  background-color: transparent;
  padding: 5px 15px;
  font-size: 20px;
  
}

.background-options{
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  display: none;
}

.icon-delete button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

#menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100%;
  transition: all ease 0.25s;
  z-index: 25;
  top: 55px;
}


#menu > div {
  width: 100%;
  height: 20%;
  background-color: white;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

#menu li{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    list-style-type: none; 
    padding-top: 30px;
    font-size: 20px;
    
}
#menu li a{
   text-decoration: none;
   color: black;     
}

.fa-chevron-down{
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.1s;  
}

.fa-pen-to-square{
  margin-right: 10px;
}

footer{
     width: 100%;
    height: 50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;   
 
}

.more-info{
  background-color: white;
}

.favoriteMarket
{
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display:none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popUpDelete i{
  font-size: 70px;
  color: #f43f3f;
  margin-bottom: 10px;
}

.popUpDelete{
  display: none;
  width: 90%;
  background-color: white;
  z-index: 30;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
}


.popUpDelete > div{
 margin-top: 10px;
 display: flex;
 justify-content: center;
 gap: 20px;
}

.popUpDelete div button{
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
 }

#buttonDelete{
  color: white;
  background-color: #f43f3f;
 }

.marketPopup
{
  position: relative;
  width: 90%; 
  height: 90%;
  background-color: pink;
  margin: 20px auto;
  border-radius: 15px;
  font-size: 20px;
}
#iconClose
{
  text-align: right;
  font-size: 20px;
  margin: 10px 15px;
}

.marketPopup ul li
{
  display: flex;
  justify-content: space-between;
  margin: 20px;

}

.contentCheck{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.marketPopup ul li input
{
  font-size: 20px;
  outline: none;
}

.marketPopup ul li input[type=checkbox]
{
  width: 20px;
  height: 20px;
}

.price
{
  display: flex;
  gap: 10px;
  align-items: center;
}

#saveMarketsButton
{
  font-size: 24px;
  padding: 10px;  
  bottom: 10px;
  margin: 15px 0px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

#saveMarketsDiv
{
  width: 100%;
  position: absolute;
  justify-content: center;
  bottom: 0;
  display: flex;
}

.fa-circle-check{
  color: rgb(14, 107, 14);
}